@import "reset.css";
@import "footer.css";
/* * {
  box-sizing: border-box;
} */
.container {
  width: 100%;
}
/* menu 항목 */
.header-layout {
  width: 100%;
  height: 120px;
  left: 0;
  position: fixed;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid #000;
  border-bottom: 1px solid #e5e5e5;
  z-index: 99;
}
.contents-layout {
  max-width: 1100px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.logo {
  background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
  width: 75px;
  height: 75px;
  margin-top: 22px;
}
.logo a {
  display: block;
  width: 75px;
  height: 75px;
}
.gnb ul {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.gnb ul li {
  width: auto;
  height: 20px;
  padding: 15px 35px 40px 35px;
  font-size: 18px;
  text-align: center;
}
.gnb ul li:hover {
  background-color: #2c2a29;
  text-decoration: underline;
  color: rgb(107, 153, 67);
}
/* sub 부분 */
.container .sub {
  margin-top: 150px;
  width: 100%;
  height: 98px;
  background: #fff;
}
.sub .sub-inner {
  width: 1100px;
  height: 90px;
  margin: 0 auto;
  position: relative;
}
.sub-inner #title {
  font-size: 32px;
  font-weight: bold;
}
.sub-inner .maps {
  position: absolute;
  right: 0;
  top: 60px;
}
.maps li {
  vertical-align: middle;
  float: left;
  height: 16px;
  line-height: 16px;
  margin: 0 2.5px;
}
.maps .map-drink {
  color: #222;
}

/* Content 부분 */
.content {
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.content .drink_kind {
  padding: 30px 30px 0px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 5px;
  margin-bottom: 40px;
}

/* 분류보기 부분*/
.drink_kind .title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px;
}

.drink_kind .drink_kind_btn {
  position: absolute;
  right: 30px;
  top: 17px;
}
.drink_kind_btn img {
  vertical-align: top;
}
.drink_kind #drink_kind_check {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  position: relative;
}
.drink_kind_tabs dd {
  padding-top: 55px;
}
.drink_kind_tabs .dt1 {
  left: 0;
  position: absolute;
  top: 30px;
}

.dt1 a {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.dt1 a:hover {
  text-decoration: underline;
}
.dt1 .selected {
  background: #006633;
  color: #fff;
}
.dt1 .selected:hover {
  text-decoration: underline;
}

.drink_kind_tabs dd {
  padding-top: 55px;
}

.hid {
  position: absolute;
  left: -9999px;
  font-size: 0;
  width: 0;
  height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.product_select_wrap ul {
  width: 1040px;
}

#mCSB_1_container li {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  float: left;
  margin-right: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}

.drink_kind_tabs .dt2 {
  left: 210px;
  position: absolute;
  top: 30px;
}
.dt2 a {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.dt2 a:hover {
  text-decoration: underline;
}
.dt2 .selected {
  background: #006633;
  color: #fff;
}
.dt2 .selected:hover {
  text-decoration: underline;
}
.dt2_content {
  display: none;
}
.service_bn {
  width: 1053px;
  position: relative;
  left: -8px;
  top: -5px;
}
.service_bn li {
  /* float: left; */
  margin: 5px 8px;
  width: 335px;
  height: 90px;
}

.service_bn li a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: #666;
  background: transparent;
  cursor: pointer;
}
.service_bn li a img {
  width: 335px;
  height: 90px;
  border: 2px solid #fff;
  vertical-align: top;
  max-width: 100%;
  border-radius: 7px;
  border: 2px solid #006633;
}

.content .themeList {
  display: none;
}

/* itemList */

.categoryList {
  margin-bottom: 40px;
  width: 1100px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 23px;
}
.item_container {
  text-align: center;
}
.item_container .item_content {
  height: 280px;
  overflow: hidden;
}
.item_thumbnail {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
}
.item_thumbnail:hover {
  transform: scale(1.1);
}

.item_description {
  font-size: 14px;
  color: #444;
  height: 54px;
  line-height: 54px;
  overflow: hidden;
}
.themeList {
  margin-bottom: 40px;
  width: 1100px;
}
