@import "reset.css";
@import "footer.css";
@import url("header.css");

/* sub 부분 */
.sub {
  width: 100%;
  height: 98px;
  background: #fff;
}
.sub .sub-inner {
  width: 80%;
  height: 90px;
  margin: 0 auto;
  position: relative;
}
.sub-inner #title {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0px;
}
.sub-inner .maps {
  position: absolute;
  right: 0;
  top: 60px;
}
.maps li {
  vertical-align: middle;
  float: left;
  height: 16px;
  line-height: 16px;
  margin: 0 2.5px;
}
.maps .map-drink {
  color: #222;
}

/* Content 부분 */
.content {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 90px;
}
.content .drink_kind {
  padding: 30px 30px 0px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 5px;
  margin-bottom: 40px;
}

/* 분류보기 부분*/
.titleAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.drink_kind .title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px;
}

.drink_kind .drink_kind_btn {
  position: absolute;
  right: 30px;
  top: 17px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 40px;
  color: #0e0e0e;
  background-color: #f4f4f0;
}
.drink_kind_btn i {
  position: absolute;
  right: 12px;
  top: 11px;
  vertical-align: top;
}

.drink_kind #drink_kind_check {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  position: relative;
}
#drink_kind_check.active {
  display: none;
}
.drink_kind_tabs dd {
  padding-top: 55px;
}
.drink_kind_tabs .dt1 {
  left: 0;
  position: absolute;
  top: 30px;
}

.dt1 button {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.dt1 button:hover {
  text-decoration: underline;
}
.dt1 .selected {
  background: #006633;
  color: #fff;
}
.dt1 .selected:hover {
  text-decoration: underline;
}

.drink_kind_tabs dd {
  padding-top: 55px;
}

.hid {
  position: absolute;
  left: -9999px;
  font-size: 0;
  width: 0;
  height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.product_select_wrap ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#mCSB_1_container li {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  float: left;
  margin-right: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}

.drink_kind_tabs .dt2 {
  left: 210px;
  position: absolute;
  top: 30px;
}
.dt2 button {
  display: block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.dt2 button:hover {
  text-decoration: underline;
}
.dt2 .selected {
  background: #006633;
  color: #fff;
}
.dt2 .selected:hover {
  text-decoration: underline;
}
.dt2_content {
  display: none;
}
.service_bn {
  width: 1053px;
  position: relative;
  left: -8px;
  top: -5px;
}
.service_bn li {
  /* float: left; */
  margin: 5px 8px;
  width: 335px;
  height: 90px;
}

.service_bn li a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: #666;
  background: transparent;
  cursor: pointer;
}
.service_bn li a img {
  width: 335px;
  height: 90px;
  border: 2px solid #fff;
  vertical-align: top;
  max-width: 100%;
  border-radius: 7px;
  border: 2px solid #006633;
}

.content .themeList {
  display: none;
}

/* itemList */
.categoryList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categoryList .category_title {
  padding: 20px;
  background: #f4f4f2;
  margin-bottom: 20px;
  border-radius: 3px;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  color: #222;
}
.list {
  display: block;
}
.item_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 23px;
  column-gap: 90px;
  padding: 15px;
}

.item_container {
  text-align: center;
  width: 250px;
}
.item_container .item_content {
  height: 280px;
  overflow: hidden;
  border-radius: 5px;
}
.item_thumbnail {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.item_thumbnail:hover {
  transform: scale(1.1);
}

.item_description {
  font-size: 18px;
  color: #444;
  height: 54px;
  line-height: 54px;
}
