:root {
  /* color */
  --green-color: #006633;
  --yellow-green-color: #639202;
  --beige--color: #f4f4f2;
  --black-color: #3f4141;
  --light-black-color: #2C2A29;
  --cleam-color: #F6F5EF;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 100%;
  padding: 20px;
}

span {
  font-size: 15px;
}


/* navbar */

.navbar {
  background-color: var(--cleam-color);
  width: 100%;
  position: sticky;
  top:0;
  z-index: 2;
}

.navbar__container {
  background-color: var(--cleam-color);
  max-width: 1200px;
  display: flex;
  justify-content:space-between ;
  margin: auto;
  padding: 20px;
}

.navbar__menu {
  background-color: var(--cleam-color);
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  font-size: 20px;
}

.navbar__menu__item a{
  padding: 10px 30px 50px;
  text-transform: uppercase;
}

.navbar__menu__item a:hover {
  background-color: var(--light-black-color);
  text-decoration: underline;
  color: var(--yellow-green-color);
}

/* header */

.header {
  width: 100%;
}

.header__container {
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
}

.header__title {
  font-size: 38px;
  font-weight: 600;
  color: var(--black-color);
}

.header__nav {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

/* search */

.search {
  width: 100%;
  padding: 20px;
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px 25px;
  max-width: 1200px;
  margin: auto;
}

.search h2 {
  font-size: 18px;
  color: var(--black-color);
  position: relative;
  top: 5px;
}

.search__titleAndMorebtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.search__upBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 40px;
  color: var(--black-color);
  background-color: var(--beige--color);
  position: relative;
  top: 5px;
}

.searchBtn {
  border-top: 1px solid #ccc;
  width: 100%;
}

.searchBtn.active {
  display: none;
}

.searchBtn__container {
  display: flex;
  text-align: center;
  padding: 25px 0 15px;
}

.searchBtn__container button {
  width: 200px;
  height: 35px;
  border-radius: 4px;
  background-color: var(--beige--color);
  margin-right: 10px;
  color: var(--black-color);
}

.searchBtn__container button:hover {
  text-decoration: underline;
}

.searchBtn__container .active {
  background-color: var(--green-color);
  color: white;
}

.search__checkbox {
  font-size: 13px;
  max-width: 800px;
  margin-bottom: 20px;
  color: var(--black-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding: 20px; */
  /* display: none; */
}

.search__checkbox li {
  margin-right: 20px;
  padding: 5px;
}

label {
  user-select: none;
  font-size: 16px;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
}

[type="checkbox"] + label::before {
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  outline: 1px solid #ccc;
  background: #fff;
}

[type="checkbox"]:checked + label::before {
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  outline: 1px solid #006533;
  background: #fff;
}

[type="checkbox"]:checked + label::before {
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-image: url(../images/gift/check.png);
  background-size: contain;
}

.search__theme {
  flex-wrap: wrap;
  max-width: 1200px;
  margin-bottom: 20px;
  display: none;
}

.search__theme img {
  width: 335px;
  height: 90px;
  margin: 8px;
}


/* Items */

.items.invisible {
  display: none;
}

#items {
  width: 100%;
  padding: 20px;
}

.items__container {
  max-width: 1200px;
  margin: auto;
}

.items__title {
  height: 60px;
  padding: 20px;
  border-radius: 3px;
  background-color: var(--beige--color);
  font-size: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: 70px;
  color: var(--black-color);
}

.item__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item span {
  z-index: 1;
}

.item .item__img {
  transition: all 300ms ease-in;
  cursor: pointer;
  margin-top: 40px;
}

.item .item__img:hover {
  transform: scale(1.1);
}

.new_and_limited img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.new_and_limited {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 20px;
}

/* footer */
#footer {
  padding: 32px 0 35px 0;
  background: #2c2a29;
  position: relative;
  width: 100%;
}

.footer_wrap {
  margin-left: -550px;
  width: 1100px;
  background: url(https://www.starbucks.co.kr/common/img/footer/footer_logo.png)
    right 8px no-repeat;
  display: inline-block;
  left: 50%;
  position: relative;
}
.footer_menus ul {
  width: 220px;
  float: left;
}
.footer_menus ul li a {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.footer_menus ul .footer_menus_title a {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
}
.footer_award {
  height: 80px;
  margin-top: 40px;
  background: #282828;
  position: relative;
  width: 100%;
}

.footer_award .footer_award_inner {
  height: 64px;
  margin-left: -567px;
  top: 8px;
  width: 1134px;
  left: 50%;
  position: absolute;
}

.footer_award_inner ul {
  display: inline-block;
}
.footer_award_inner ul li {
  float: left;
}

.copyright {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  margin-left: -50%;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  left: 50%;
  position: relative;
}
.copyright a {
  border-right: 1px solid #393939;
  color: #ccc;
  font-size: 12px;
  padding: 0 10px;
}
.copyright .first {
  color: #00b050 !important;
  font-weight: bold;
}
.copyright .btn_link {
  background: none;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 10px 2px 0 3px;
  width: 90px;
  height: 30px;
  line-height: 30px;
}
.copy_menu {
  padding: 25px 0 5px 0;
  margin: 0 auto;
  text-align: center;
}
.copy_menu li {
  line-height: 1.3;
  display: inline-block;
  margin: 0 7px;
}
.copyright .copy {
  display: inline-block;
  line-height: 40px;
}
@import "footer.css";
