@import url("reset.css");

:root {
  /* color */
  --green: #006633;
  --yellow-green: #639202;
  --black: #3f4141;
  --light-black: #2C2A29;
  --cleam: #F6F5EF;
  --gray: #7D7D7D;
  --light-gray: #f4f4f2;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Header */

header {
  background-color: var(--cleam);
  position: sticky;
  top:0;
  left: 0;
  z-index: 2;
  padding-top: 20px;
}

.logo {
  width: 75px;
  height: 75px;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

.menus__sub-menu,
.menus__main-manu {
  display: flex;
}

.menus__sub-menu {
  font-size: 12px;
  margin: 0 50px 20px;
  cursor: pointer;
}

.menus__sub-menu li {
  color: var(--black);
}

.menus__sub-menu li:hover {
  text-decoration: underline;
}

.menus__sub-menu button {
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  top: -4px;
}

.menus__sub-menu li,
.menus__sub-menu button {
  padding: 5px 10px;
  margin: 0 10px;
}

.menus__main-manu li{
  padding-bottom: 25px;
  margin: 0 8px;
}

.menus__main-manu li a {
  color: var(--black);
  font-size: 13px;
  text-transform: uppercase;
  padding: 20px 20px 29px;
}

.menus__main-manu li a:hover {
  text-decoration: underline;
  color: var(--yellow-green);
  background-color: var(--light-black);
}

/* Page title */

.header {
  width: 80%;
  margin: auto;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__title {
  font-size: 35px;
  font-weight: 600;
  color: var(--light-black);
}

.header__nav {
  position: absolute;
  bottom: 0px;
  right:0px;
}

.header__nav a {
  color: var(--gray);
  font-size: 13px;
}


/* Search section */

.search {
  width: 80%;
  margin: 16px auto 50px;
}

.search__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px 35px 20px;
  margin: auto;
}

.search h2 {
  font-size: 18px;
  color: var(--black);
}

.search__titleAndMorebtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search__titleAndMorebtn.open {
  margin-bottom: 20px;
}

.search__upBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 40px;
  color: var(--black);
  background-color: var(--light-gray);
}

.searchBtn {
  border-top: 1px solid #ccc;
  width: 100%;
}

.searchBtn.active {
  display: none;
}

.searchBtn__container {
  display: flex;
  text-align: center;
  padding: 30px 0 20px;
}

.searchBtn__container button {
  width: 200px;
  height: 35px;
  border-radius: 4px;
  background-color: var(--light-gray);
  margin-right: 10px;
  color: var(--black);
}

.searchBtn__container button:hover {
  text-decoration: underline;
}

.searchBtn__container .active {
  background-color: var(--green);
  color: white;
}

.search__checkbox {
  font-size: 13px;
  max-width: 800px;
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search__checkbox button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__checkbox button:focus div{
  background-image: url(../images/gift/check.png);
  background-size: contain;
}

.search__checkbox div {
  height: 10px;
  width: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search__checkbox span {
  font-size: 15px;
  margin-right: 20px;
}

.search__theme {
  flex-wrap: wrap;
  max-width: 1200px;
  margin-bottom: 20px;
  display: none;
}

.search__theme img {
  width: 335px;
  height: 90px;
  margin: 8px;
}

/* Item section */

.items {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.items__category.invisible {
  display: none;
}

.items__category-name {
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 4px;
  background-color: var(--light-gray);
}

.item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin: 30px 0 100px;
}

.item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.item__info-img {
  transition: all 250ms ease-in;
  cursor: pointer;
  width: 250px;
  margin-bottom: 23px;
}

.item__info-img:hover {
  transform: scale(1.1);
}

.item__info-name {
  font-size: 15px;
  color: var(--black);
  z-index: 1;
}

.item__icons {
  position: absolute;
  bottom: 35px;
  left: 0;
}

/* Footer */

#footer {
  padding: 32px 0 35px 0;
  background: #2c2a29;
  position: relative;
  width: 100%;
}

.footer_wrap {
  margin-left: -550px;
  width: 1100px;
  background: url(https://www.starbucks.co.kr/common/img/footer/footer_logo.png)
    right 8px no-repeat;
  display: inline-block;
  left: 50%;
  position: relative;
}
.footer_menus ul {
  width: 220px;
  float: left;
}
.footer_menus ul li a {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.footer_menus ul .footer_menus_title a {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
}
.footer_award {
  height: 80px;
  margin-top: 40px;
  background: #282828;
  position: relative;
  width: 100%;
}

.footer_award .footer_award_inner {
  height: 64px;
  margin-left: -567px;
  top: 8px;
  width: 1134px;
  left: 50%;
  position: absolute;
}

.footer_award_inner ul {
  display: inline-block;
}
.footer_award_inner ul li {
  float: left;
}

.copyright {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  margin-left: -50%;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  left: 50%;
  position: relative;
}
.copyright a {
  border-right: 1px solid #393939;
  color: #ccc;
  font-size: 12px;
  padding: 0 10px;
}
.copyright .first {
  color: #00b050 !important;
  font-weight: bold;
}
.copyright .btn_link {
  background: none;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 10px 2px 0 3px;
  width: 90px;
  height: 30px;
  line-height: 30px;
}
.copy_menu {
  padding: 25px 0 5px 0;
  margin: 0 auto;
  text-align: center;
}
.copy_menu li {
  line-height: 1.3;
  display: inline-block;
  margin: 0 7px;
}
.copyright .copy {
  display: inline-block;
  line-height: 40px;
}