:root {
  /* color */
  --green-color: #006633;
  --yellow-green-color: #639202;
  --beige--color: #f4f4f2;
  --black-color: #3f4141;
  --light-black-color: #2C2A29;
  --cleam-color: #F6F5EF;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  margin: 20px;
}

span {
  font-size: 15px;
}


/* navbar */

.navbar {
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--cleam-color);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 10px 10px;
  margin: 0 30px;
  text-transform: uppercase;
}

.navbar__menu__item a:hover {
  color: var(--yellow-green-color);
  text-decoration: underline;
}

.dropdown {
  width: 100%;
  /* display: none; */
}

.dropdown ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--light-black-color);
  color: white;
}

.dropdown__item {
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px;
}


/* content */

.title {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--black-color);
  position: relative;
  margin-bottom: 10px;
}

.title span {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.title a:hover {
  text-decoration: underline;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px 25px;
}

.search h2 {
  font-size: 18px;
  width: 100%;
  color: var(--black-color);
}

.search__titleAndMorebtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.search__upBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  color: var(--black-color);
  background-color: var(--beige--color);
  margin-bottom: 10px;
}

.search__container {
  border-top: 1px solid #ccc;
  width: 100%;
}

.search__container.active {
  display: none;
}

.search__btn {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 25px 0 15px;
}

.search__btn button {
  width: 200px;
  height: 35px;
  border-radius: 4px;
  background-color: var(--beige--color);
  margin-right: 10px;
  color: var(--black-color);
}

.search__btn button:hover {
  text-decoration: underline;
}

.search__btn .active {
  background-color: var(--green-color);
  color: white;
}

.search__checkbox {
  font-size: 13px;
  max-width: 800px;
  margin: 10px;
  color: var(--black-color);
}

.search__checkbox button::before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.search__checkbox button .active::before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.items.invisible {
  display: none;
}

.items_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.items__title {
  height: 60px;
  padding: 20px;
  border-radius: 3px;
  background-color: var(--beige--color);
  font-size: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-top: 70px;
  color: var(--black-color);
}

.item__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item span {
  z-index: 1;
}

.item .item__img {
  transition: all 300ms ease-in;
  cursor: pointer;
  margin-top: 40px;
}

.item .item__img:hover {
  transform: scale(1.1);
}

.new_and_limited img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.new_and_limited {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 20px;
}
